body {
  background-color: #f1f1f1;
  font-size: 18px;
}

header {
  text-align: center;
  margin-bottom: 26px;

  h1 {
    margin-bottom: 10px;
  }

  nav a {
    font-size: 1.2em;
    color: #888888;
    text-decoration: none;
    margin: 0 3px
  }
}

.outer {
  margin: 0 auto;
  max-width: 780px;
  margin: 10px auto;
}

.article  {
  .panel-body {
    img {
      max-width: 100%;
    }
  }

}

/* Article Styles */

.panel-title + .article-meta {
  margin-top: 10px;
}

.meta {
  margin-right: 10px;
  display: inline;
  font-size: 0.8em;
  color: #999999;

  &.meta-comment {
    margin-right: 0;
  }

  a {
    color: #999999 !important;
    text-decoration: none;
  }
}

.article-summary * {
  font-weight: normal !important;
  font-size: 1em !important;
}

.article-tags {
  display: none;

  .tag {
    font-size: .8em;
    color: #999;
    text-decoration: none;

    &:before {
      content: '#';
      color: #ccc;
    }
  }
}


/* Tag Cloud */
#tags { list-style: none; }
#tags a { text-decoration: none; }
#tags li { display: inline; margin-right: 20px; }
#tags .tag-3 { font-size: 1.9em; line-height: 1.9em; }
#tags .tag-2 { font-size: 1.6em; line-height: 1.6em; }
#tags .tag-1 { font-size: 1.3em; line-height: 1.3em; }
#tags .tag-0 { font-size: 1.0em; line-height: 1.0em; }

#archives dt h3 { border-bottom: 1px solid #eeeeee; margin-bottom: 5px; }
#archives a { text-decoration: none; }
#archives dd span { float: right; }
#archives dd { margin: 0; }
#archives dd:hover { background: #eeeeee; }


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}


/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
  .article > section {
    padding: 5px;
  }

  .article-title {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .article-title + .article-meta {
    margin-top: 2px;
  }

  .article-tags {
    display: block;
  }

  .meta-tag {
    display: none;
  }
}

