body {
  background-color: #f1f1f1;
}

body > header {
  text-align: center;
  margin-bottom: 26px;

  h1 {
    margin-bottom: 0 !important;
  }

  nav a {
    color: #888888 !important;
  }
}

article {
  background: #ffffff;
  border-radius: 2px;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  margin: 0 auto;
  max-width: 780px;
  margin: 20px auto;

  header {
    border-bottom: 1px solid #f2f2f2;
    padding: 10px 20px;

    h1 {
      margin: 0 !important;
      font-size: 1.2em !important;
    }
  }

  .content {
    padding: 10px 20px;

    .summary * {
      font-weight: normal;
      font-size: 1em;
    }
  }

  footer {
    font-size: 0.8em;
    color: #999999;
    border-top: 1px solid #f2f2f2;
    padding: 5px 20px;

    .meta {
      margin-right: 10px;
      display: inline;
      
      a {
        color: #999999 !important;
      }
    }

  }
}


header a,
footer a {
  margin-left: 3px;
  margin-right: 3px;
  text-decoration: none;
}

body > footer {
  text-align: center;
  color: #999;
  font-size: .8em;
  padding-top: 15px;
  padding-bottom: 15px;
}

.block {
  background: #fbfbfa;
  padding: 8px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.container {
  max-width: 780px;
  margin: 0 auto;
}

.entry-view article {
  margin-bottom: 26px;
}

article:only-child {
  margin-bottom: 26px;
}

article > footer > .tag {
  font-size: .8em;
  margin-right: 1em;
  color: #999;
}

article > footer > .tag:before {
  content: '#';
  color: #ccc;
}

/* Tag Cloud */
#tags { list-style: none; }
#tags a { text-decoration: none; }
#tags li { display: inline; margin-right: 20px; }
#tags .tag-0 { font-size: 1.9em; line-height: 1.9em; }
#tags .tag-1 { font-size: 1.6em; line-height: 1.6em; }
#tags .tag-2 { font-size: 1.3em; line-height: 1.3em; }
#tags .tag-3 { font-size: 1.0em; line-height: 1.0em; }

#archives dt h3 { border-bottom: 1px solid #eeeeee; margin-bottom: 5px; }
#archives a { text-decoration: none; }
#archives dd span { float: right; }
#archives dd { margin: 0; }
#archives dd:hover { background: #eeeeee; }
