<article class="article">
  <section class="article-header">
    <h1 class="article-title"><%= link_to article.title, article %></h1>
  </section>

  <section class="article-content">
    <div class="article-summary">
      <div class="yue">
        <%= render_article_summary(article) %>
      </div>
    </div>

    <%= link_to '阅读全文…', article, class: 'btn-more' %>
  </section>

  <section class="article-footer">
    <%= render_article_meta(article) %>
  </section>
</article>
