<div class="article-meta">
  <div class="pull-right">
    <div class="meta meta-comment">
      <a href="<%= article.url %>#disqus_thread">
        <span class="icon-comments"></span> 发表评论
      </a>  
    </div>
  </div>

  <div class="meta meta-time">
    <span class="icon-clock-o"></span>
    <time datetime="<%= to_date(article.date) %>"><%= to_date(article.date) %></time>
  </div>
</div>