<div class="article-meta">
  <div class="pull-right">
    <div class="meta meta-comment">
      <a href="#disqus_thread">
        <span class="icon-comment"></span> 发表评论
      </a>  
    </div>
  </div>

  <div class="meta meta-time">
    <span class="icon-clock"></span>
    <time datetime="<%= to_date(article.date) %>"><%= to_date(article.date) %></time>
  </div>

  <div class="meta meta-tag">
    <span class="icon-tag"></span>
    <% article.tags.each do |tag| %>
      <%= link_to tag, tag_path(tag) %>
    <% end %>
  </div>  
</div>