<ul class="list-group">
<% articles.each do |article| %>
  <a href="<%= article.url %>" class="list-group-item">
    <span class="badge"><%= to_date(article.date, options[:date_format]) %></span>
    <%= article.title %>
  </a>
<% end %>
</ul>
