<header>
  <h1>Ask and Learn</h1>
  
  <nav class="navs-main">
    <a href="/" title="首页">首页</a>
    <a href="/archive/" title="归档">归档</a>
    <a href="/tags/" title="标签云">标签云</a>
    <a href="/feed.xml" title="订阅">订阅</a>
  </nav>

  <nav class="navs-social">
    <a href="https://github.com/greatghoul" title="Github"><span class="icon-github"></span></a>
    <a href="https://twitter.com/greatghoul" title="Twitter"><span class="icon-twitter"></span></a>
    <a href="http://weibo.com/greatghoul" title="微博"><span class="icon-weibo"></span></a>
  </nav>
</header>