<header>
    <h1>Ask and Learn</h1>
    <div class="block">
      <nav>
        <a href="/">首页</a>
        <a href="/calendar.html">归档</a>
        <a href="/tags/" title="Tags Cloud">标签</a>
        <a href="/rss/" title="Subscribe Me">订阅</a>
        <a href="http://github.com/greatghoul" title="My Projects on Github"><span class="fa fa-github"></span></a>
        <a href="http://weibo.com/greatghoul" title="Weibo"><span class="fa fa-weibo"></span></a>
      </nav>
    </div>
  </header>