<header>
  <h1>Ask and Learn</h1>
  
  <nav>
    <a href="/" title="首页"><span class="icon-home"></span></a>
    <a href="/archive/" title="归档"><span class="icon-archive"></span></a>
    <a href="/tags/" title="标签云"><span class="icon-tag"></span></a>
    <a href="/feed.xml" title="订阅"><span class="icon-feed"></a>
    <a href="http://github.com/greatghoul" title="Github"><span class="icon-github"></a>
    <a href="http://weibo.com/greatghoul" title="微博"><span class="icon-weibo"></span></a>
  </nav>
</header>