<header>
  <h1>Ask and Learn</h1>
  
  <nav>
    <a href="/"><span class="icon-home"></span></a>
    <a href="/archive/"><span class="icon-archive"></span></a>
    <a href="/tags/"><span class="icon-tag"></span></a>
    <a href="/rss/"><span class="icon-feed"></a>
    <a href="http://github.com/greatghoul"><span class="icon-github"></a>
    <a href="http://weibo.com/greatghoul" title="å¾®åš"><span class="icon-weibo"></span></a>
  </nav>
</header>